.formContainer {
  padding: 2rem 0;
  margin-top: 2rem;
  width: 100%;
  border-top: solid 2px var(--gray);
}

.formContainer > h2 {
  color: #666;
  margin-bottom: 1rem;
}

.bookForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.bookForm > input,
select {
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem 1rem;
  flex: 1;
  font-size: 1.1rem;
}

.bookForm > select {
  flex: 0.5;
}

.bookForm > input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.addBtn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  color: #fff;
}

.addBtn:hover {
  background-color: var(--skyblue);
}
